@import url('https://fonts.cdnfonts.com/css/lemonade-farmhouse');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

:root {
    --font-primary: 'Lemonade Farmhouse', sans-serif;
    /* --background-point: #3E3E3E; */
    --background-point: #3d2d67;
    --background-point-result: #dcd3bf;
    --f-size-h1: 2.2rem;
    --f-size-h2: 1.8rem;
    --f-size-h3: 1.6rem;
    --p-size: 1.5rem;
    --color-font: rgb(110, 140, 238);
}

header {
    padding: 2rem;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.box-integrantes {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.box-integrantes a {
    text-decoration: none;
}

.box-integrantes h3 {
    color: #e7decb;
    letter-spacing: 1px;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: max-content;

    background-color: #3d2d67;
    justify-content: center;
}

h2 {
    color: #3d2d67;
    font-size: var(--f-size-h2);
    margin-bottom: 1rem;
}

hr {
    border-color: rgb(110, 140, 238);
}

h3 {
    font-size: var(--f-size-h3);
    color: #181818;
}

.box-points>h3:last-of-type {
    /* border-bottom: 2px solid var(--color-font); */
    width: max-content;
    margin-top: 1rem;
}

p {
    font-size: var(--p-size);
    color: #181818;
}

.box-points {
    background-color: var(--background-point-result);
    padding: 2rem;
}

ol,
ul {
    margin-left: 1rem;
    font-size: var(--f-size-h3);
}

.li-1 {
    list-style: none;
    margin: .4rem 0;
    color: #DCD3BF;
    background-color: #3d2d67;
    padding: .4rem .6rem;
    width: max-content;
    border-radius: .4rem;
}

.li-1:before {
    content: '1 - ';
}

.ol-d .li-1:nth-last-child(2):before {
    content: '2 - ';
}

.ol-d .li-1:last-of-type:before {
    content: '3 - ';
}

.ol-1 .li-1:last-of-type:before {
    content: '2 - ';
}


.li-2 {
    margin-top: 1rem;
    margin-left: 1rem;
    list-style: none;
}

.li-2:before {
    content: '⪢';
    color: #3d2d67;
    font-size: 1rem;
    margin-right: .4rem;
}



.diagrama {
    height: 40rem;
    object-fit: cover;
    background-color: #181818;
    padding: 2rem;
    border-radius: 1rem;
}

.hamburger {
    display: none;
}

.p-2 {
    display: none;
}

@media only screen and (max-width: 1080px) {

    header {
        padding: 1rem;
    }

    .box-integrantes {
        display: none;
    }

    .hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        height: 24px;
        width: 24px;
        padding: .2rem;
        cursor: pointer;
    }

    .hamburger div {
        height: 2px;
        width: 18px;
        background-color: #DCD3BF
    }

    ol,
    ul {
        margin-left: 0;
    }

    .p-1 {
        display: none;
    }

    .p-2 {
        display: block;
    }

    .box-integrantes.active {
        display: flex;
        position: absolute;
        background-color: var(--background-point);
        top: 6.9rem;
        left: 0;
        width: 100%;
        padding: 2rem;
        justify-content: start;
        flex-direction: column;
        gap: 2rem;
    }

    .li-1 {

        margin-left: -.4rem;
    }

    .li-2 {}

    .box-integrantes hr {
        display: none;
    }

    .box-points {
        padding: 1rem;
    }

    .diagrama {
        height: max-content;
        width: 100%;
        object-fit: contain;
        padding: 1rem;
    }


}